body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.addUser {
  right: -600px;
  position: relative;
}

.button_div {
  margin-top: 10px;
}

.backButton {
  margin-left: 500px;
  margin-top: 50px;
}

.errorFields {
  right: -500px;
  position: relative;


}

